body, label, input, button, select { 
  font-family: 'HelveticaNeue', Arial, Verdana, sans-serif;
  font-weight: 200;
}
h1, h2, h3, h4 { font-weight: 400; }

#sidebarItemExpanded {
  padding: 0 10px 10px 10px;
  
}

#sidebarCollapsed {
  min-width: 60px!important;
}


.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}


.leaflet-bottom.leaflet-left {
  /* Appearance */
  opacity:.8;
  background-color: transparent;
  border-style: none;
  box-shadow: 0 0;
  transition: transform .2s;
  transform-origin: left bottom;
}

.leaflet-bottom.leaflet-left:hover {
  transform: scale(2);
  transform-origin: left bottom;
}

#click-area {
  /* Appearance */
  opacity:.8;
  background-color: transparent;
  border-style: none;
  box-shadow: 0 0;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 0 20px;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.7;
  zoom: 0.9;
  transition: opacity 50ms 50ms;
}

#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}


.sidebar-menu > li {
    white-space: normal;

}

.legend {
  background: transparent;
  
}

#keep_alive {
  visibility: hidden;
}

.btn-circle.btn-xs {
            width: 28px;
            height: 28px;
            padding: 6px 0px;
            border-radius: 14px;
            font-size: 8px;
            text-align: center;
        }
        

.navbar-custom-menu {
    float: left!important;
} 

.navbar-static-top {
  overflow: auto;
}

.my_style_1{ 
    /* background-image: url('https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg'); */
    /* width:'100%'; */
    background-image: url("ONS-logo.jpeg");
    
    }
 





